[color]
	ui = true
[format]
	pretty = oneline
[core]
	autocrl = input
	fileMode = true
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit

[pager]
	diff = false
[user]
	name = Paige
	email = paige@omaze.com
